.header {
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: .2rem;
  font-weight: 600; }

.btn-social {
  display: inline-block;
  color: #323232;
  text-align: center;
  font-size: 24px; }

tag {
  color: #F8F8F8; }

stamp {
  text-align: right;
  border-radius: 2px;
  text-transform: uppercase;
  font-family: "Consolas Bold", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; 
  font-size: 1.3rem;
  color: #000; }

.skill, 
skill {
  background: #EEE;
  text-align: center;
  border-radius: 4px;
  font-size: 1rem;
  text-transform: uppercase;
  height: 30px;
  line-height: 30px;
  margin-bottom: 1.5rem;
  font-weight: 600;
  letter-spacing: .1rem; }

a {
  text-decoration: none !important; }

.footer {
  font-family: "Consolas", Helvetica, Arial, sans-serif;
  text-align: center;
  border-top: 1px solid #eee;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgb(238, 238, 238);
  padding: 4rem 0;
  margin-bottom: 0; }
