name: Deploy
on:
  # Trigger the workflow on push to the dev branch
  push:
    branches:
      - dev
jobs:
  deploy:
    name: Gatsby Deploy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: enriikke/gatsby-gh-pages-action@v2
        with:
          access-token: ${{ secrets.ACCESS_TOKEN }}